
Skip to content
Pull requests
Issues
Marketplace
Explore
@marshalmiller
marshalmiller /
linkrot-dev


0
0

    96

Code
Issues 1
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

linkrot-dev/.gitignore
@marshalmiller
marshalmiller Update .gitignore
Latest commit 63280e5 8 days ago
History
@marshalmiller
62 lines (52 sloc) 733 Bytes
#Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.*_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

    © 2021 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Docs

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

Loading complete
