name: Pytest

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: [ubuntu-latest]
    strategy:
      fail-fast: false

      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install -U pip
          pip install -e .
          pip install -e .[dev]

    - name: Python & pip versions
      run: |
        python -V
        pip -V

    - name: Unit tests
      run: pytest
