name: PyPi Dist

on: push

jobs:
  build-n-publish:
    name: linkrot
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
        
    - name: Install pypa/build
      run: >-
        python -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/
        .
    - name: linkrot
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.PYPI }}
